<form [formGroup]="addForm" (ngSubmit)="onSubmit()">
    <div>
        <mat-form-field appearance="fill">
            <mat-label>Latitude</mat-label>
            <input matInput placeholder="Enter latitude" type="number" formControlName="latitude">
        </mat-form-field>
    </div>

    <div>
        <mat-form-field appearance="fill">
            <mat-label>Longitude</mat-label>
            <input matInput placeholder="Enter longitude" type="number" formControlName="longitude">
        </mat-form-field>
    </div>

    <button mat-raised-button color="primary">Add position</button>
    <button mat-button (click)="onCancel()">Cancel</button>
</form>

