<div>
    <span>id: {{ position.id }}</span>
    <br>
    <span>ts: {{ position.time }}</span>
    <br>
    <span>trackId: {{ position.trackId }}</span>
    <br>
    <span>userId: {{ position.userId }}</span>
    <br>

    <form [formGroup]="updateForm" (ngSubmit)="onSubmit()">
        <label for="latitude">lt:</label>
        <input type="text" formControlName="latitude">
        <br>
        <label for="longitude">lg:</label>
        <input type="text" formControlName="longitude">
        <br>
        <button type="submit">Update</button>
        <button type="button" (click)="onCancel()">Cancel</button>
    </form>
</div>
